/* header styles
-------------------------------------------------- */
body > .container.msg-container {
    padding: 60px 15px 0;
}
.container.msg-container .close {
    margin-top:.40em;
}

/* footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 107px;
}
.footer {
    background: url("../img/rolling_hills.png") no-repeat center bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 107px;
}
.footer .username {
    text-align:right;
    margin-top:45px;
}
.username-box {
    background: url("../img/username_sm_l.png") no-repeat;
    height: 34px;
    text-align:left;
    margin-right:1em;
    white-space: nowrap;
    display:inline-block;
}
.username-box span {
    display:block;
    height:34px;
    background: url("../img/username_sm_r.png") 100% 50% no-repeat;
    padding: 5px 20px 5px 0;
    margin-left:20px;
}

/* bootstrap overrides */
.btn-default {
    background: none rgba(0,0,0,0);
    border:2px solid #fff;
    color: #fff;
    font-weight: normal;
    text-shadow:none;
}
.well {
    background: none rgba(0,0,0,.20);
    border-color: rgba(0,0,0,.20);
}
.glyphicon {
    right:-3px;
}
.req-intro .glyphicon {
    right:15px;
    top:5px;
}
.form-horizontal .glyphicon {
    right:11px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color:#000;
}

/* columns of same height styles */
.row-same-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* site styles */
body {
    background: #66c2eb;
    background: url("../img/clouds.png") no-repeat center top, -webkit-gradient(linear, left top, left bottom, from(#66c2eb), to(#bfdbe3)); /* Saf4+, Chrome */
    background: url("../img/clouds.png") no-repeat center top, -webkit-linear-gradient(top, #66c2eb, #bfdbe3); /* Chrome 10+, Saf5.1+ */
    background: url("../img/clouds.png") no-repeat center top, -moz-linear-gradient(top, #66c2eb, #bfdbe3); /* FF3.6+ */
    background: url("../img/clouds.png") no-repeat center top, -ms-linear-gradient(top, #66c2eb, #bfdbe3); /* IE10 */
    background: url("../img/clouds.png") no-repeat center top, -o-linear-gradient(top, #66c2eb, #bfdbe3); /* Opera 11.10+ */
    background: url("../img/clouds.png") no-repeat center top, linear-gradient(top, #66c2eb, #bfdbe3); /* W3C */
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size:20px;
    color:#fff;
}

h1 {
    font-size:36px;
    color:#d2d83d;
}
h2 {
    font-size:1.17em;
}
.first {
    margin-top:0;
}
.last {
    margin-bottom:0;
}
.instructions h2 {
    color: #d2d83d;
}
.main-container {
    margin-top: 0;
    padding-top: 0;
}
label {
    font-size:20px;
    font-weight:normal;
}
.form-horizontal label {
    text-align:right;
}
.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.one-player, .two-player {
    background: url('../img/player1.png') 6px 50% no-repeat;
    padding-left: 32px;
}
.two-player {
    background: url('../img/player2.png') 7px 50% no-repeat;
}
.btn.one-player:hover,.btn.one-player:active {
    background-position:6px 50%;
}
.btn.two-player:hover,.btn.two-player:active {
    background-position:7px 50%;
}
.inner-well,
.admin-question-list {
    background-color: rgba(27, 27, 27, 0.51);
}
.admin-question-list a,
.admin-question-list .btn-link {
    color: #003399 !important;
}
.btn-topic {
    width:100%;
}
canvas.chartjs {
    width: 100%;
    height: auto;
}
.inner-donut{
    margin-top: -100px;
    margin-bottom: 100px;
}
.inner-donut span {
    margin-top:0;
    font-size:1.6em;
}

/* quiz */
.question-bubble {
    float: left;
    background: url('../img/question_bubble.png') no-repeat;
    height: 45px;
    width: 40px;
    margin: 0;
    text-align: center;
    padding-top: 6px;
}
.question-text {
    margin: 0 0 0 50px;
}
.answers {
    width: 100%;
    min-height: 250px;
    padding: 20px;
    margin: 1em auto;
    background-color: rgba(255,255,255,.50);
    border-radius: 7px;
    moz-border-radius: 7px;
    color: #000;
}

/*for new radio buttons*/
.radio {
    width: 32px;
    height: 34px;
    padding: 0;
    background: url('../img/radio.png') no-repeat;
    display: block;
    float: left;
}

.answer label {
    margin:.45em 0 1em 40px;
    display: block;
}
.answer.list-group-item label {
    margin:.25em 0;
}

/* legacy */
.quiz-header {
    float: left;
    width: 1024px;
    height: 50px;
}

.quiz-score-box {
    float: left;
    width: 190px;
    height: 150px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 100px;
}

.score-holder {
    padding: 15px;
}

.score-title {
    background: url("../img/score_box.png") no-repeat;
    height: 34px;
    width: 135px;
}

.score-title-text {
    padding-left: 15px;
    padding-top: 5px;
}

.score-box {
    background: url("../img/score.png") no-repeat;
    height: 53px;
    width: 100px;
    margin-left: 20px;
    margin-top: 30px;
    padding:0;
    text-align: center;
    box-sizing: border-box;
}
.score-box div {
    box-sizing: border-box;
}
.score-box .user-score {
    width:55px;
    padding:11px 0 0 7px;
}
.score-box .user-number {
    width:43px;
    font-size:1.75em;
    margin:-3px 0 0 0;
    padding:0;
    color:#58831f;
}
.score-box.current-player {
    background: url("../img/score_on.png") no-repeat;
}
.score-box span {
    font-size:1.5em;
}

.score-text {
    padding-left: 12px;
    padding-top: 13px;
}

.question-box {
    float:left;
    width: 452px;
    height: 450px;
    margin-left: 10;
    margin-right: 10px;
    background-color: rgba(0,0,0,.20);
    border-radius: 7px;
    moz-border-radius: 7px;
}

.details-box {
    float:left;
    width: 250px;
    height: 450px;
    margin-left: 10px;
    margin-right: 50px;
    background-color: rgba(0,0,0,.20);
    border-radius: 7px;
    moz-border-radius: 7px;
}

.green {
    color:#d2d83d;
}
.red {
    color:#ff0004;
}

.hidden {
    display: none;
}

.question-holder {
    padding: 15px;
}

.smaller-text {
    font-size: 16px;
}

.drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
    color:rgba(116, 202, 29, 1);
}

body.quiz.modal-open .main-container {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: url(#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}
.modal-body h2 {
    font-size:2em;
}
.action {
    text-align:center;
}
.dropdown-menu label {
    font-size:14px;
    font-weight:normal;
    margin: 0 0 0 .5em;
    padding:0;
    display:inline-block;
    max-width:100%;
}