@charset "UTF-8";
/* CSS Document */

.box {
	float:left;
	width: 925px;
	height: 350px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: rgba(0,0,0,.20);
	border-radius: 7px;
	moz-border-radius: 7px;
}

.holder {
	padding: 15px;
}

.question-list {
	width: 890px;
	height: 250px;
	overflow-y: scroll;
}

textarea {
	width: 400px;
	height: 50px;
	resize: none;
}

.label {
	display:inline-block;
	width: 110px;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

