@charset "UTF-8";
/* CSS Document */

.signin {
	position: relative;
	float:left;
	width: 315px;
	height: 300px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: rgba(0,0,0,.20);
	border-radius: 7px;
	moz-border-radius: 7px;
}

.signin-form {
	position: relative;
	height: 290px;
	padding-left: 15px;
	padding-right: 15px;	
	margin-top:15px;
}

#myusername {
	width: 270px;
	margin-bottom: 15px;
}

#mypassword {
	width: 270px;
	margin-bottom: 5x;
}

.signin-buttons {
	width: 240px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 0px;
}

input.grade-submit {
    background-color: rgba(0,0,0,0);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    border-color: #FFFFFF;
	border-style: solid;
	border-width: 3px;
	color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
	height: 45px;
	width: 140px;
	margin-bottom: 5px;
}

.game-level {
	float: left;
	width: 195px;
	height: 300px;
	background-color: rgba(0,0,0,.20);
	border-radius: 7px;
	moz-border-radius: 7px;
}

.select-game-level {
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	margin-top: 25px;
}

.grade-level {
	border-style: solid;
	boder-color: #FFFFFF;
	border-width: 3px;
	width: 125px;
	height: 29px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7px;
	moz-border-radius: 7px;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 5px;
}

.instructions {
    float: left;
	width: 315px;
	height: 300px;
	margin-left: 50px;
	background-color: rgba(0,0,0,.20);
	border-radius: 7px;
	moz-border-radius: 7px;
}

.how-to-play {
	padding-left: 15px;
	padding-right: 15px;
}

.how-to-play h2 {
	color:#D2D83D;
}

.welcome {
	float: left;
	width: 560px;
	height: 300px;
	background-color: rgba(0,0,0,.20);
	border-radius: 7px;
	moz-border-radius: 7px;
}

.welcome-text {
	padding-left: 15px;
	padding-right: 15px;
}

.welcome-text h2 {
	color:#D2D83D;
}