@charset "UTF-8";
/* CSS Document */

.register-holder {
	float:left;
	width: 925px;
	height: 350px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: rgba(0,0,0,.20);
	border-radius: 7px;
	moz-border-radius: 7px;
}

.register-form {
	padding: 15px;
}

.register-labels1 {
	float: left;
	width: 175px;
	text-align: right;
	padding-right: 10px;
}

.register-labels2 {
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 10px;
}

.register-inputs {
	float: left;
	width: 225px;
}

p {
	height: 20px;
}

input[type=text] {
	width: 200px;
}

input[type=password] {
	width: 200px;
}