/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container.msg-container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* site styles */
body {
    background-image: url(IMAGE_URL); /* fallback */
    background-image: url(IMAGE_URL), -webkit-gradient(linear, left top, left bottom, from(#66c2eb), to(#add7e3)); /* Saf4+, Chrome */
    background-image: url(IMAGE_URL), -webkit-linear-gradient(top, #66c2eb, #add7e3); /* Chrome 10+, Saf5.1+ */
    background-image: url(IMAGE_URL), -moz-linear-gradient(top, #66c2eb, #add7e3); /* FF3.6+ */
    background-image: url(IMAGE_URL), -ms-linear-gradient(top, #66c2eb, #add7e3); /* IE10 */
    background-image: url(IMAGE_URL), -o-linear-gradient(top, #66c2eb, #add7e3); /* Opera 11.10+ */
    background-image: url(IMAGE_URL), linear-gradient(top bottom, #66c2eb, #add7e3); /* W3C */

    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size:20px;
    color:#fff;
}

.btn-default {
    background: none rgba(0,0,0,0);
    border:2px solid #fff;
    color: #fff;
    font-weight: normal;
}

.well {
    background: none rgba(0,0,0,.20);
    border-color: rgba(0,0,0,.20);
}

.glyphicon {
    right:-3px;
}
.well .glyphicon {
    right:15px;
    top:5px;
}

.instructions h2 {
    color: #d2d83d;
}

/* columns of same height styles */
.row-same-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}


.main-container {
    margin-top: 0;
    padding-top: 0;
}
.last {
    margin-bottom: 0;
}
