@charset "UTF-8";
/* CSS Document */

.quiz-header {
	float: left;
	width: 1024px;
	height: 50px;
}

.quiz-score-box {
	float: left;
	width: 190px;
	height: 150px;
	margin-left: 40px;
	margin-right: 10px;
	margin-top: 100px;
}

.score-holder {
	padding: 15px;
}

.score-title {
	background: url(images/score_box.png) no-repeat;
	height: 34px;
	width: 135px;
}

.score-title-text {
	padding-left: 20px;
	padding-top: 5px;
}

.score-box {
	background: url(images/score.png) no-repeat;
	height: 53px;
	width: 100px;
	margin-left: 20px;
	margin-top: 30px;
}

.score-text {
	padding-left: 12px;
	padding-top: 13px;
}

.question-box {
	float:left;
	width: 452px;
	height: 450px;
	margin-left: 10;
	margin-right: 10px;
	background-color: rgba(0,0,0,.20);
	border-radius: 7px;
	moz-border-radius: 7px;
}

.details-box {
	float:left;
	width: 250px;
	height: 450px;
	margin-left: 10px;
	margin-right: 50px;
	background-color: rgba(0,0,0,.20);
	border-radius: 7px;
	moz-border-radius: 7px;
}

#correct-text {
	padding: 15px;
}

#incorrect-text {
	padding: 15px;
}

.green {
	color:#D2D83D;
}

.red {
	color:#FF0004;
}	

.hidden {
	display: none;
}

.question-holder {
	padding: 15px;
}

.questions {
	height: 80px;
	width: 422px;
}

.question-bubble {
	float: left;
	background: url(images/question_bubble.png) no-repeat;
	display: inline-block;
	height: 45px;
	width: 40px;
	margin: 0px;
	text-align: center;
}

.question-bubble-text {
	padding-top: 6px;
	
}

.question-text {
	float: left;
	display: inline-block;
	margin: 0px;
	width: 382px; 
}

.answers {
	float:left;
	width: 372px;
	height: 250px;;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: rgba(255,255,255,.50);
	border-radius: 7px;
	moz-border-radius: 7px;
	color: #000000;
}

.smaller-text {
	font-size: 16px;
}

#next {
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}


/*for new radio buttons*/
.radio {
  width: 32px;
  height: 34px;
  padding: 0 5px 0 0;
  background: url(images/radio.png) no-repeat;
  display: block;
  clear: left;
  float: left;
}

.answer {
	min-height: 50px;
	padding-top: 5px;
}
