@charset "UTF-8";
/* CSS Document */

body {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#FFFFFF;
}
h2 {
	font-size:36px;
	font-weight:normal;
}
h3 {
	padding-bottom: 10px;	
	margin: 0px;
}
h4 {
	padding-bottom: 10px;	
	margin: 0px;
	font-weight:normal;
}

.error {
	font-size:18px;
	color:red;
}

.message {
	font-size:18px;
	color:#D2D83D;
}

.black-text {
	color: #000000;
	font-size: 14px;
}

.background {
	position: relative;
	background-image: url(Images/Game-screen-home.jpg);
	width: 1024px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

.clear-float {
	clear: both;
}

.header {
	float: left;
	width: 1024px;
	height: 125px;
}


select {
	background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:20px; 
}

input[type=text] {
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:20px; 
   } 

input[type=password] {
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:20px; 
   } 

.footer {
	position:absolute;
	bottom: 0px;
	width:100%;
	height:60px;   /* Height of the footer */
}

.username-box {
	float: left;
	background-image: url(images/username_box.png);
	height: 34px;
	width: 205px;
	margin-left: 600px;
}

.username-text {
	padding-left: 20px;
	padding-top: 5px;
}

.footer-quit {
	float: left;
	width: 100px;
	margin-left: 20px;
}


input[type=button] {
    background-color: rgba(0,0,0,0);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    border-color: #FFFFFF;
	border-style: solid;
	border-weight: 2px;
	color: #fff;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
	height: 35px;
}

input[type=submit] {
    background-color: rgba(0,0,0,0);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    border-color: #FFFFFF;
	border-style: solid;
	border-weight: 2px;
	color: #fff;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
	height: 35px;
}

.cancel-link {
	margin-left: 20px;
	font-size:18px;
}