@charset "UTF-8";
/* CSS Document */

.holder {
	float:left;
	width: 925px;
	height: 300px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: rgba(0,0,0,.20);
	border-radius: 7px;
	moz-border-radius: 7px;
}

.results-info {
	padding: 15px;
}
